<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ufam.icet.rocha.cleandro.appeduc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Matematica"
            android:label="@string/title_activity_matematica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mat.B1mat7ano"
            android:label="@string/title_activity_b1mat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mat.ano7.Bim1"
            android:label="@string/title_activity_bim1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>